// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'

params {
    enable_conda = false
    outdir = './results'
    publish_dir_mode = 'copy'
    singularity_pull_docker_container = true
}

// Enable Docker
docker.enabled = true

// Clean up intermediate files on successful run
cleanup = true
