// Workflow manifest
manifest {
    name = 'nf-core_modules_demo'
    homePage = 'https://github.com/mahesh-panchal/nf-core_modules_demo'
}

// Workflow parameters
// Override using `-c <custom_config>` or on the command-line, e.g., `--input`.
params {
    input = ''
    enable_conda = false
    outdir = './results'
    publish_dir_mode = 'copy'
    singularity_pull_docker_container = false
}
// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'

// Enable Docker
docker.enabled = true

// Clean up intermediate files on successful run
cleanup = true

